{#
/**
 * @file
 * Default commerce price calculated template.
 *
 * Available variables:
 * - calculated_price: The calculated price.
 * - purchasable_entity: The purchasable entity.
 * - currency: The currency info.
 * - resolved_price: The resolved_price object.
 *
 * @ingroup themeable
 */
#}
{% set number_part = calculated_price|number_part %}
{% set fractional_part = calculated_price|fractional_part %}

{% apply spaceless %}
<span>
  <span>{{ currency.symbol }}</span>
  <span>{{ number_part }}</span>
  <span>{{- fractional_part -}}</span>
</span>
{% endapply %}

